*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    margin: 10px 20px;
    padding: 10px;
   
}

.alertMsg{
    text-align:center;
    font-size: 18px;
    font-weight: 800;
}

form{
    display: flex;
    background-color: #000000cc;
}

.user_name,.user_email,.user_phone , .btn{
    padding: 10px 15px;
    margin: 5px;
}

.user_name,.user_email,.user_phone{
    flex:1;
    border:none;
    border-radius: 4px;
    outline: none;
}

.btn{
    background-color: #7cb12c;
    color:#ffffff;
    border:none;
}

#rm-btn{
    padding:10px;
    background-color: #f34848;
    color:#fff;
    border:none;
    cursor:pointer;
}

table{
    width: 100%;
}
table th{
    padding: 10px;
    background-color: #7cb12c;
}
table td{
    text-align: center;
    padding: 10px;
    background-color: #d0e6e6;
}